.head-nav-container{
    width: 100%;
    background-color: #003034;
    position: absolute;
    z-index: 2;
    top: 0;
}

.head-nav{
    display: flex;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    align-items: center;
    color: #FF4655;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo{
    max-width: 80px;
}

/*right nav bar*/
.right-nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.right-nav-ul>li{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.right-nav-ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: .75em;
}

/*search bar*/
.search-bar{
    margin-right: 20px;
    border-radius: 5px;
    height: 35px;
    opacity: .7;
}

/*shopping cart icon*/
#shopping-cart-icon{
    border: 3px solid #FF4655;
    border-radius: 10px;
}
#shopping-cart-icon >a{
    padding: 5px;
}

#cart-1{
    position: absolute;
    opacity: 1;
}

#cart-2{
    opacity: 0;
}

/*login and register*/
#register{
    padding: 10px 10px;
    font-weight: bold;
}

#login >a{
    background-color: #FF4655;
    width: 80px;
    height: 40px;
}
#register >a{
    background-color: #FF4655;
    width: 80px;
    height: 40px;
}

#register:hover a{
    color: black;
    background-color: #ffffff;
}

#login{
    padding: 10px;
    /* background-color: #FF4655; */
    font-weight: bold;
}
#login:hover a{
    color: black;
    background-color: #ffffff;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}